.cg-container,
.cg-row {
  *zoom: 1; }
  .cg-container:before,
  .cg-row:before, .cg-container:after,
  .cg-row:after {
    content: "";
    display: table; }
  .cg-container:after,
  .cg-row:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
