.cg-container,
.cg-row {
  *zoom: 1; }
  .cg-container:before,
  .cg-row:before, .cg-container:after,
  .cg-row:after {
    content: "";
    display: table; }
  .cg-container:after,
  .cg-row:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cg-container {
  margin: 0 auto;
  width: 100%;
  position: relative; }

@media only screen and (min-width: 576px) {
  .cg-container {
    width: 100%;
    min-width: 540px; } }

@media only screen and (min-width: 768px) {
  .cg-container {
    width: 720px;
    min-width: 720px; } }

@media only screen and (min-width: 992px) {
  .cg-container {
    width: 960px;
    min-width: 960px; } }

@media only screen and (min-width: 1200px) {
  .cg-container {
    width: 1140px; } }

.cg-row {
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }
  .cg-row .cg-col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.7rem;
    min-height: 1px; }
    .cg-row .cg-col[class*="-push-"], .cg-row .cg-col[class*="-pull-"] {
      position: relative; }
    .cg-row .cg-col.sm1 {
      width: 8.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-1 {
      margin-left: 8.33333%; }
    .cg-row .cg-col.sm-pull-1 {
      right: 8.33333%; }
    .cg-row .cg-col.sm-push-1 {
      left: 8.33333%; }
    .cg-row .cg-col.sm2 {
      width: 16.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-2 {
      margin-left: 16.66667%; }
    .cg-row .cg-col.sm-pull-2 {
      right: 16.66667%; }
    .cg-row .cg-col.sm-push-2 {
      left: 16.66667%; }
    .cg-row .cg-col.sm3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-3 {
      margin-left: 25%; }
    .cg-row .cg-col.sm-pull-3 {
      right: 25%; }
    .cg-row .cg-col.sm-push-3 {
      left: 25%; }
    .cg-row .cg-col.sm4 {
      width: 33.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-4 {
      margin-left: 33.33333%; }
    .cg-row .cg-col.sm-pull-4 {
      right: 33.33333%; }
    .cg-row .cg-col.sm-push-4 {
      left: 33.33333%; }
    .cg-row .cg-col.sm5 {
      width: 41.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-5 {
      margin-left: 41.66667%; }
    .cg-row .cg-col.sm-pull-5 {
      right: 41.66667%; }
    .cg-row .cg-col.sm-push-5 {
      left: 41.66667%; }
    .cg-row .cg-col.sm6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-6 {
      margin-left: 50%; }
    .cg-row .cg-col.sm-pull-6 {
      right: 50%; }
    .cg-row .cg-col.sm-push-6 {
      left: 50%; }
    .cg-row .cg-col.sm7 {
      width: 58.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-7 {
      margin-left: 58.33333%; }
    .cg-row .cg-col.sm-pull-7 {
      right: 58.33333%; }
    .cg-row .cg-col.sm-push-7 {
      left: 58.33333%; }
    .cg-row .cg-col.sm8 {
      width: 66.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-8 {
      margin-left: 66.66667%; }
    .cg-row .cg-col.sm-pull-8 {
      right: 66.66667%; }
    .cg-row .cg-col.sm-push-8 {
      left: 66.66667%; }
    .cg-row .cg-col.sm9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-9 {
      margin-left: 75%; }
    .cg-row .cg-col.sm-pull-9 {
      right: 75%; }
    .cg-row .cg-col.sm-push-9 {
      left: 75%; }
    .cg-row .cg-col.sm10 {
      width: 83.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-10 {
      margin-left: 83.33333%; }
    .cg-row .cg-col.sm-pull-10 {
      right: 83.33333%; }
    .cg-row .cg-col.sm-push-10 {
      left: 83.33333%; }
    .cg-row .cg-col.sm11 {
      width: 91.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-11 {
      margin-left: 91.66667%; }
    .cg-row .cg-col.sm-pull-11 {
      right: 91.66667%; }
    .cg-row .cg-col.sm-push-11 {
      left: 91.66667%; }
    .cg-row .cg-col.sm12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .cg-row .cg-col.sm-off-12 {
      margin-left: 100%; }
    .cg-row .cg-col.sm-pull-12 {
      right: 100%; }
    .cg-row .cg-col.sm-push-12 {
      left: 100%; }
    @media only screen and (min-width: 768px) {
      .cg-row .cg-col.md1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-1 {
        margin-left: 8.33333%; }
      .cg-row .cg-col.md-pull-1 {
        right: 8.33333%; }
      .cg-row .cg-col.md-push-1 {
        left: 8.33333%; }
      .cg-row .cg-col.md2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-2 {
        margin-left: 16.66667%; }
      .cg-row .cg-col.md-pull-2 {
        right: 16.66667%; }
      .cg-row .cg-col.md-push-2 {
        left: 16.66667%; }
      .cg-row .cg-col.md3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-3 {
        margin-left: 25%; }
      .cg-row .cg-col.md-pull-3 {
        right: 25%; }
      .cg-row .cg-col.md-push-3 {
        left: 25%; }
      .cg-row .cg-col.md4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-4 {
        margin-left: 33.33333%; }
      .cg-row .cg-col.md-pull-4 {
        right: 33.33333%; }
      .cg-row .cg-col.md-push-4 {
        left: 33.33333%; }
      .cg-row .cg-col.md5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-5 {
        margin-left: 41.66667%; }
      .cg-row .cg-col.md-pull-5 {
        right: 41.66667%; }
      .cg-row .cg-col.md-push-5 {
        left: 41.66667%; }
      .cg-row .cg-col.md6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-6 {
        margin-left: 50%; }
      .cg-row .cg-col.md-pull-6 {
        right: 50%; }
      .cg-row .cg-col.md-push-6 {
        left: 50%; }
      .cg-row .cg-col.md7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-7 {
        margin-left: 58.33333%; }
      .cg-row .cg-col.md-pull-7 {
        right: 58.33333%; }
      .cg-row .cg-col.md-push-7 {
        left: 58.33333%; }
      .cg-row .cg-col.md8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-8 {
        margin-left: 66.66667%; }
      .cg-row .cg-col.md-pull-8 {
        right: 66.66667%; }
      .cg-row .cg-col.md-push-8 {
        left: 66.66667%; }
      .cg-row .cg-col.md9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-9 {
        margin-left: 75%; }
      .cg-row .cg-col.md-pull-9 {
        right: 75%; }
      .cg-row .cg-col.md-push-9 {
        left: 75%; }
      .cg-row .cg-col.md10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-10 {
        margin-left: 83.33333%; }
      .cg-row .cg-col.md-pull-10 {
        right: 83.33333%; }
      .cg-row .cg-col.md-push-10 {
        left: 83.33333%; }
      .cg-row .cg-col.md11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-11 {
        margin-left: 91.66667%; }
      .cg-row .cg-col.md-pull-11 {
        right: 91.66667%; }
      .cg-row .cg-col.md-push-11 {
        left: 91.66667%; }
      .cg-row .cg-col.md12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.md-off-12 {
        margin-left: 100%; }
      .cg-row .cg-col.md-pull-12 {
        right: 100%; }
      .cg-row .cg-col.md-push-12 {
        left: 100%; } }
    @media only screen and (min-width: 992px) {
      .cg-row .cg-col.lg1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-1 {
        margin-left: 8.33333%; }
      .cg-row .cg-col.lg-pull-1 {
        right: 8.33333%; }
      .cg-row .cg-col.lg-push-1 {
        left: 8.33333%; }
      .cg-row .cg-col.lg2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-2 {
        margin-left: 16.66667%; }
      .cg-row .cg-col.lg-pull-2 {
        right: 16.66667%; }
      .cg-row .cg-col.lg-push-2 {
        left: 16.66667%; }
      .cg-row .cg-col.lg3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-3 {
        margin-left: 25%; }
      .cg-row .cg-col.lg-pull-3 {
        right: 25%; }
      .cg-row .cg-col.lg-push-3 {
        left: 25%; }
      .cg-row .cg-col.lg4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-4 {
        margin-left: 33.33333%; }
      .cg-row .cg-col.lg-pull-4 {
        right: 33.33333%; }
      .cg-row .cg-col.lg-push-4 {
        left: 33.33333%; }
      .cg-row .cg-col.lg5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-5 {
        margin-left: 41.66667%; }
      .cg-row .cg-col.lg-pull-5 {
        right: 41.66667%; }
      .cg-row .cg-col.lg-push-5 {
        left: 41.66667%; }
      .cg-row .cg-col.lg6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-6 {
        margin-left: 50%; }
      .cg-row .cg-col.lg-pull-6 {
        right: 50%; }
      .cg-row .cg-col.lg-push-6 {
        left: 50%; }
      .cg-row .cg-col.lg7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-7 {
        margin-left: 58.33333%; }
      .cg-row .cg-col.lg-pull-7 {
        right: 58.33333%; }
      .cg-row .cg-col.lg-push-7 {
        left: 58.33333%; }
      .cg-row .cg-col.lg8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-8 {
        margin-left: 66.66667%; }
      .cg-row .cg-col.lg-pull-8 {
        right: 66.66667%; }
      .cg-row .cg-col.lg-push-8 {
        left: 66.66667%; }
      .cg-row .cg-col.lg9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-9 {
        margin-left: 75%; }
      .cg-row .cg-col.lg-pull-9 {
        right: 75%; }
      .cg-row .cg-col.lg-push-9 {
        left: 75%; }
      .cg-row .cg-col.lg10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-10 {
        margin-left: 83.33333%; }
      .cg-row .cg-col.lg-pull-10 {
        right: 83.33333%; }
      .cg-row .cg-col.lg-push-10 {
        left: 83.33333%; }
      .cg-row .cg-col.lg11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-11 {
        margin-left: 91.66667%; }
      .cg-row .cg-col.lg-pull-11 {
        right: 91.66667%; }
      .cg-row .cg-col.lg-push-11 {
        left: 91.66667%; }
      .cg-row .cg-col.lg12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .cg-row .cg-col.lg-off-12 {
        margin-left: 100%; }
      .cg-row .cg-col.lg-pull-12 {
        right: 100%; }
      .cg-row .cg-col.lg-push-12 {
        left: 100%; } }

.message-bar {
  width: 100%;
  background-color: #333;
  text-align: center;
  height: 2.1rem;
  line-height: 1.9rem; }
  .message-bar .red-star {
    color: #ec3440;
    vertical-align: sub;
    font-size: 1.1em; }
  .message-bar p {
    display: inline-block;
    vertical-align: sub;
    font-size: 1em;
    letter-spacing: .02rem;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif; }

.mobile-logo {
  margin: 20px 0 -20px 0; }

nav {
  margin-top: 20px;
  padding-left: 0.7rem;
  padding-right: 0.7rem; }
  nav .nav-wrapper {
    height: 54px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    border-radius: 0; }
    @media only screen and (max-width: 767px) {
      nav .nav-wrapper {
        border: none; } }
    nav .nav-wrapper .nav-links.cg-col,
    nav .nav-wrapper .nav-actions.cg-col {
      padding: 0; }
    nav .nav-wrapper .nav-links {
      height: 100%; }
      nav .nav-wrapper .nav-links ul {
        list-style: none;
        height: 54px;
        vertical-align: middle;
        display: table-cell; }
        nav .nav-wrapper .nav-links ul li {
          display: inline-flex;
          height: 100%; }
          nav .nav-wrapper .nav-links ul li a {
            font-size: 16px;
            color: #777;
            padding: 15px 10px;
            text-decoration: none;
            font-weight: bold; }
            nav .nav-wrapper .nav-links ul li a:hover {
              color: #333;
              background-color: #e7e7e7; }
          nav .nav-wrapper .nav-links ul li.dropdown {
            position: relative; }
            nav .nav-wrapper .nav-links ul li.dropdown .dropdown-content {
              -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
              -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
              box-shadow: 0 6px 12px rgba(0,0,0,.175);
              display: none;
              position: absolute;
              background-color: #fff;
              list-style: none;
              float: left;
              min-width: 160px;
              padding: 5px 0;
              margin: 2px 0 0;
              font-size: 14px;
              text-align: left;
              border: 1px solid rgba(0, 0, 0, 0.15);
              z-index: 999;
              top: 50px;
              left: -1px; }
              nav .nav-wrapper .nav-links ul li.dropdown .dropdown-content li {
                display: block; }
                nav .nav-wrapper .nav-links ul li.dropdown .dropdown-content li a {
                  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                  display: block;
                  padding: 3px 20px;
                  clear: both;
                  font-weight: 400;
                  line-height: 1.42857143;
                  color: #333;
                  white-space: nowrap;
                  text-decoration: none; }
                  nav .nav-wrapper .nav-links ul li.dropdown .dropdown-content li a:hover {
                    color: #262626;
                    text-decoration: none;
                    background-color: #f5f5f5; }
              nav .nav-wrapper .nav-links ul li.dropdown .dropdown-content hr {
                margin-top: 10px;
                margin-bottom: 10px;
                border: 0;
                border-top: 1px solid #eee; }
            nav .nav-wrapper .nav-links ul li.dropdown:hover .dropdown-content {
              display: block; }
    nav .nav-wrapper .nav-links-mobile {
      height: 100%;
      display: grid; }
      nav .nav-wrapper .nav-links-mobile .nav-toggle {
        font-size: 1.5rem;
        width: 1.7em;
        align-self: center;
        background-color: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
        -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
        -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 rgba(0,0,0,0); }
    nav .nav-wrapper .nav-brand a {
      position: relative;
      display: block; }
      nav .nav-wrapper .nav-brand a img.nav-logo {
        position: absolute;
        top: -.5em;
        left: calc((100% - 405px)/2);
        width: 405px;
        margin: auto; }
        @media only screen and (max-width: 991px) {
          nav .nav-wrapper .nav-brand a img.nav-logo {
            width: 326px;
            height: auto;
            top: -1px;
            left: -60px; } }
    nav .nav-wrapper .nav-actions {
      height: 100%;
      position: relative; }
      nav .nav-wrapper .nav-actions .search-input-wrapper {
        position: absolute;
        width: calc(80% - 0.7rem);
        right: calc(.7rem*2 + 40px);
        top: 10px; }
        @media only screen and (max-width: 1199px) {
          nav .nav-wrapper .nav-actions .search-input-wrapper {
            padding-left: 3em; } }
        @media only screen and (max-width: 991px) {
          nav .nav-wrapper .nav-actions .search-input-wrapper {
            padding-left: 3.4em; } }
        @media only screen and (max-width: 767px) {
          nav .nav-wrapper .nav-actions .search-input-wrapper {
            left: 0;
            padding-left: 0;
            padding-right: calc(16.66667% - 0.7rem * 3 - 18px);
            width: auto; } }
        nav .nav-wrapper .nav-actions .search-input-wrapper .search-input {
          position: relative; }
          nav .nav-wrapper .nav-actions .search-input-wrapper .search-input input {
            width: 100%;
            padding: 5px 25px 5px 5px;
            background-color: #fff;
            border: 1px solid #ccc;
            height: 34px;
            line-height: 1.42857143;
            transition: border-color ease-in .15s, box-shadow ease-in-out .15s; }
            nav .nav-wrapper .nav-actions .search-input-wrapper .search-input input:focus {
              -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
              -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
              border-color: #66afe9;
              outline: 0; }
          nav .nav-wrapper .nav-actions .search-input-wrapper .search-input .search-icon {
            position: absolute;
            top: 7px;
            right: 10px; }
      nav .nav-wrapper .nav-actions .cart-btn-wrapper {
        position: absolute;
        right: 0.7rem;
        top: 18px; }
        nav .nav-wrapper .nav-actions .cart-btn-wrapper .cart-btn {
          border: 1px solid #ddd;
          padding: 6px 12px;
          color: #333;
          background-color: #fff; }
          nav .nav-wrapper .nav-actions .cart-btn-wrapper .cart-btn:hover {
            background-color: #e6e6e6;
            border-color: #adadad; }
          nav .nav-wrapper .nav-actions .cart-btn-wrapper .cart-btn:active {
            -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125); }

.side-nav {
  background-color: #f8f8f8;
  width: 80%;
  display: none; }

.banner-area {
  display: flex; }
  .banner-area .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .banner-area .info-box p {
      border: 1px solid #ddd;
      font-size: 1.2rem;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 1em;
      color: #333;
      text-align: center; }
      .banner-area .info-box p .red {
        color: #ec3440; }
      .banner-area .info-box p.bigger {
        font-size: 1.5rem; }
      @media only screen and (max-width: 1199px) {
        .banner-area .info-box p {
          font-size: 1rem; }
          .banner-area .info-box p.bigger {
            font-size: 1.3rem; } }
      @media only screen and (max-width: 991px) {
        .banner-area .info-box p {
          font-size: .8rem; }
          .banner-area .info-box p.bigger {
            font-size: 1rem; } }
  .banner-area .slider-box {
    position: relative;
    height: 263px;
    width: 100%; }
    .banner-area .slider-box li {
      position: absolute;
      top: 0;
      left: 0.7rem;
      width: calc(100% - 0.7rem * 2);
      height: 100%;
      overflow: hidden;
      list-style: none; }
      .banner-area .slider-box li img {
        width: 100%;
        height: 100%; }
    @media only screen and (max-width: 1199px) {
      .banner-area .slider-box {
        height: 217px; } }
    @media only screen and (max-width: 991px) {
      .banner-area .slider-box {
        height: 166px; } }

.collection .collection-header {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: .3rem; }

.collection .collection-footer {
  text-align: right; }
  .collection .collection-footer p {
    font-size: .9rem; }
    .collection .collection-footer p a {
      color: #333;
      text-decoration: none; }
      .collection .collection-footer p a:hover {
        color: #ec3440; }

.collection .card-collection {
  margin-top: 10px;
  padding-bottom: 10px;
  overflow: auto; }
  .collection .card-collection .card {
    position: relative;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.175);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,.175);
    box-shadow: 0 2px 1px rgba(0,0,0,.175); }
    .collection .card-collection .card .card-image {
      background-color: #fff;
      text-align: center;
      padding: 5px;
      cursor: pointer; }
      .collection .card-collection .card .card-image img {
        width: 100%; }
    .collection .card-collection .card .card-content {
      padding: 5px;
      background-color: #fff;
      border-top: 1px solid #ddd; }
      .collection .card-collection .card .card-content p {
        font-size: .8rem; }
        .collection .card-collection .card .card-content p a {
          text-decoration: none;
          color: #333; }
          .collection .card-collection .card .card-content p a:hover {
            color: #ec3440; }
      .collection .card-collection .card .card-content .subtitle {
        font-size: .7rem; }
      .collection .card-collection .card .card-content .pricing {
        float: right;
        color: #f33535;
        font-weight: 700;
        font-size: .9rem; }

footer {
  background-color: #333;
  padding: 14px 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff; }
  footer .runner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background: url("https://cdn.shopify.com/s/files/1/0624/2629/t/2/assets/runner.png?14916366361299015477") repeat-x; }
  footer h2 {
    font-weight: 300;
    font-size: 1.8rem; }
    @media only screen and (max-width: 991px) {
      footer h2 {
        text-align: center; } }
  footer p {
    color: #ddd;
    font-size: .9rem; }
  footer .email-signup-wrapper .email-input {
    display: table;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0; }
    footer .email-signup-wrapper .email-input input {
      width: calc(100% - 40px);
      margin: 0;
      padding: 6px 12px;
      background-color: #fff;
      border: 1px solid #ccc;
      height: 34px;
      line-height: 1.42857143;
      transition: border-color ease-in .15s, box-shadow ease-in-out .15s; }
      footer .email-signup-wrapper .email-input input:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        border-color: #66afe9;
        outline: 0; }
    footer .email-signup-wrapper .email-input button[type="submit"] {
      position: absolute;
      margin: 0;
      width: 40px;
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent; }
  footer .bottom-nav-links .cg-col {
    padding: 0; }
  footer .bottom-nav-links ul {
    list-style: none;
    margin-left: -10px;
    margin-right: -10px; }
    footer .bottom-nav-links ul li {
      display: inline-block; }
      footer .bottom-nav-links ul li a {
        text-decoration: none;
        color: #777;
        line-height: 20px;
        display: block;
        padding: 5px 15px;
        font-size: 0.9rem; }

@media only screen and (max-width: 767px) {
  .hide-sm, .hide-sm-down {
    display: none !important; } }

@media only screen and (max-width: 991px) {
  .hide-md-down {
    display: none !important; } }

@media only screen and (max-width: 1199px) {
  .hide-lg-down {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .hide-md-up {
    display: none !important; } }

@media only screen and (min-width: 992px) {
  .hide-lg-up {
    display: none !important; } }

@media only screen and (min-width: 992px) {
  .hide-lg {
    display: none !important; } }

@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .show-sm {
    display: block !important; } }

@media only screen and (min-width: 768px) {
  .show-md-up {
    display: block !important; } }

@media only screen and (max-width: 991px) {
  .show-md-down {
    display: block !important; } }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

body {
  background-color: #f8f8f8; }

p, span {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333; }
