.collection {
	.collection-header {
		width: 100%;
		text-align: center;
		font-size: 1.4rem;
		letter-spacing: .3rem;
	}

	.card-collection {
		margin-top: 10px;
		overflow: auto;

		.card {
			position: relative;
			border: 1px solid #ddd;

			@include box-shadow('0 2px 1px rgba(0,0,0,.175)');

			.card-image {
				background-color: #fff;
				text-align: center;
				padding: 5px;
				cursor: pointer;

			}

			.card-content {
				padding: 5px;
				background-color: #fff;
				border-top: 1px solid #ddd;

				p {
					font-size: .8rem;

					a {
						text-decoration: none;
						color: $dark-grey-text;

						&:hover {
							color: $red-color;
						}
					}
				}

				.subtitle {
					font-size: .7rem;
				}

				.pricing {
					float: right;
					color: #f33535;
					font-weight: 700;
					font-size: .9rem;
				}
			}
		}
	}
}