@import "variables";
@import "mixins";
@import "grid";
@import "message-bar";
@import "nav";
@import "banner";
@import "collection";
@import "footer";
@import "helpers";

body {
	background-color: $primary-bg-color;
}

p, span {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.42857143;
	color: $dark-grey-text;
}