.message-bar {
	width: 100%;
	background-color: $grey-color;
	color: $off-white-text;
	text-align: center;
	font-family: $default-font-family;
	height: 2.1rem;
	line-height: 1.9rem;

	.red-star {
		color: $red-color;
		vertical-align: sub;
		font-size: 1.1em;
	}
	p {
		display: inline-block;
		vertical-align: sub;
		font-size: 1em;
		letter-spacing: .02rem;
	}
}